#audio-panel-header {
  text-align: center;
  margin-bottom: 2vw;
  font-size: 2vw;
  font-weight: 600;
  color: #333;
}

#audio-panel-form-group {
  margin-bottom: 2vw;
}

#audio-panel-label {
  display: block;
  margin-bottom: 0.5vw;
  font-size: 1.2vw;
  font-weight: 500;
  color: #555;
}

#audioPanelInput,
#audio-panel-textarea,
#audio-panel-file {
  width: 100%;
  padding: 0.8vw;
  font-size: 1vw;
  border: 1px solid #ccc;
  border-radius: 0.3vw;
  box-sizing: border-box;
}

#audio-panel-textarea {
  height: 7vw;
  resize: none;
}

#audio-panel-button {
  display: block;
  width: 100%;
  padding: 1vw;
  background: #76c7c0;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 600;
  border: none;
  border-radius: 0.3vw;
  cursor: pointer;
  text-align: center;
}

#audio-panel-button:hover {
  background: #68b2a5;
}

#audio-desc {
  width: 100%;
  padding: 0.8vw;
  font-size: 1vw;
  border: 1px solid #ccc;
  border-radius: 0.3vw;
  margin-bottom: 1vw;
  box-sizing: border-box;
  height: 7vw;
  resize: none;
}

.small-audio-info-header {
  vertical-align: middle;
  font-size: 1em;
}