#page8{
    min-height: 50vh;
    position: relative;
    width: 100%;
    padding: 3vw 0vw 0vw 0vw;
    background-color: #2E4C47;
    margin-bottom: -1px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    color: #fff;
}

#page8 > #footer-top{
    /* background-color: #C9FD0E; */
    width:100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    /* flex-direction: row; */
    align-items: center;
    gap: 3vw;
    padding: 1vw 5vw;
    
}
#footer-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid thin #b9b9b952;
    /* background-color: #C9FD0E; */
    padding: 2.5vw 0vw;
}
#footer-copyrights{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-copyrights h4{
    font-size: 1.3vw;
    font-weight: 300;
}
#footer-links{
    color: black;
    display: flex;
    gap: 2vw;
}
#footer-links > a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5vw;
}
#footer-media{
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}
#footer-media::before{

    content: "Follow us";
    font-size: 2vw;
    font-weight: 400;

}
#footer-media i {   
     font-size: 2.4vw;
     cursor: pointer;
}

#footer-description{
    display: flex;
    justify-content: flex-start   ;
    align-items: start;
    padding: 2vw 0vw;

}
#footer-description p{
    font-size: 2.7vw;
    text-align: center;
    font-variant: small-caps;
    width: 95%;
    font-weight: 200;
}

#footer-down {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 2vw;
    background-color: #CBEDE0;
    position: relative;
}
 .footer-down-image {
    width: 10vw;

}


.group1,.group2{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}
.group1>h6{
    font-size: 1.5vw;
    font-weight: 500;
    position:absolute;
    top: 10%;
    margin-right: 2.5vw;
    color: #000000cd;
}
.group2>h6{
    font-size: 1.5vw;
    font-weight: 500;
    position:absolute;
    top: 10%;
    margin-left: 2.5vw;
    color: #000000cd;
}

.group2{
    border-left: solid thin #000000cd;
}

#footer-domains {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
    width: 100%;
    padding: 2vw 0;
    border-bottom: solid thin #b9b9b952;
}

#footer-domains a {
    text-decoration: none;
    font-size: 1.8vw;
    color: #ffffff;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.8vw 1.5vw;
    border-radius: 0.5vw;
    transition: all 0.3s ease-in-out;
}

#footer-domains a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}


@media (max-width: 1400px){
#page8{
    min-height: 10vh;
}

    #page8>#footer-top{
        min-height: 10vh;
    }
    #page6{
        min-height: auto;
    }

    #page6 > #footer-top{
        min-height: 20vh;
    }
    #footer-description p{
        /* padding: 1vw 0vw; */
        font-size: 6vw;
    }
    
#footer-media i {   
    font-size: 6vw;
    cursor: pointer;
}
#footer-media::before{

    content: "Follow us";
    font-size: 4vw;
    font-weight: 400;

}
#footer-socials{
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}
#footer-copyrights h4{
    font-size: 3vw;
    font-weight: 300;
}
#footer-links{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#footer-links > a{
    text-decoration: none;
    color: #ffffff;
    font-size: 3vw;
}

#footer-down{
    flex-direction: column;
    gap: 2vw;
    padding: 2vw;
}
.footer-down-image {
    width: 15vw;
}

.group1,.group2{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    position: relative;
    padding-top: 7vw;

}
.group1>h6{
    font-size: 3vw;
    font-weight: 500;
    position:absolute;
    top: 10%;
    margin-left: 30%;
    color: #000000cd;
}
.group2>h6{
    font-size: 3vw;
    font-weight: 500;
    position:absolute;
    top: 10%;
    margin-left: 30%;
    color: #000000cd;
}

.group2{
    border-top: solid thin #000000cd;
    border-left: none;
    padding-top: 7vw;
}
.brand-heading{
    align-self: flex-start;
    font-size: 9.5vw;
    margin-top: 10vw;
    margin-bottom: 8vw;
    margin-left: 5vw;

}
#footer-domains {
    justify-content: flex-start;
}

#footer-domains > a{
    justify-content: flex-start;
    font-size: 4vw;
    align-items:self-start;
    flex-direction: column;
}
}
