/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Main container */


/* Video categories */
#video-category {
    margin-bottom: 2.5em;
}

h1 {
    font-size: 5vw;
    font-weight: 700;
    margin-top: 3vh;
    margin-bottom: 5vh;
    /* background-color: #5e5d5d; */
    text-align: center;
}

#category-title {
    font-size: 1.75em; /* Slightly increased from 1.5em */
    font-weight: bold;
    margin-bottom: 1em;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5em;
}

/* Video grid layout */
#video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1.5em;
    justify-content: center;
}

/*Video Link*/
.video-link {
    text-decoration: none;
}

/* Video card */
#video-card {
    background-color: #fff;
    border-radius: 0.75em;
    overflow: hidden;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

#video-card:hover {
    transform: translateY(-0.3em);
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}

/* Video thumbnail */
#video-card img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

/* Video details */
.video-name {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.75em;
    text-align: center;
    color: #333;
}

.video-class {
    font-size: 1em;
    padding: 0 0.75em 0.75em;
    color: #777;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #video-grid {
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    }

    #category-title {
        font-size: 1.6em; /* Adjusted for medium screens */
    }
}

@media (max-width: 480px) {
    #video-grid {
        grid-template-columns: 1fr;
    }

    #category-title {
        font-size: 1.5em; /* Adjusted for small screens */
        text-align: center;
    }
}
